@import "tailwindcss";
@theme{
    --color-tx-100:#00a63e;
    --color-tx-200:#314158;
    --color-tx-300:#1d293d;
    --color-tx-400:#45556c;
    --color-bg-100:#00c951;
    --color-bg-200:#615fff;
    --color-bg-300:oklch(92.5% .084 155.995);
    --color-bg-400:#00a63e;
    --color-bg-500:oklch(87.1% .15 154.449);
    --color-bg-600:#ffd7a8;
    --color-bg-700:#bedbff;
    --color-bg-800:#f9f3f4;
    --color-bor-100:#d1d5dc;

}